<h1>Home Improvements</h1>
<h2>Coming soon!</h2>
<p>Home Improvments are worth tracking as well, as such we are currently working on an implimentation that allows you to efficiently track the improvmenets you've made on your home.</p>
