a.visited{
  color: #fff;
}

#house_show{
  height: 200px;
  img{
    height: 130px;
    width: auto;
    max-width: 200px;
  }
}

#item_show{
  height: 200px;
  img{
    height: 200px;
    width: auto;
    max-width: 200px;
  }
}