<ul class="side-nav hide-for-small" role="navigation" title="Link List">
 <li role="menuitem"><%= link_to "Houses", houses_path %></li>
 <li role="menuitem"><%= link_to "Items", items_path %></li>
 <li role="menuitem"><a href="#">Reports</a></li>
 <li role="menuitem"><a href="#">Manage</a></li>
 <li role="menuitem"><a href="#">Insurance</a></li>
</ul>